body {
    background-color: rgb(18, 18, 18);
}

.main-div{
    max-width: 600px;
    background-color: rgb(244, 244, 244);
    margin: auto;
    position: relative;
}

h1 {
    justify-content: center;
    align-items: center;
    margin: 0 116px;
    padding: 30px 0 15px 0;
}

ul {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 170px;
}

.choose-div {
    display: flex;
    justify-content: start;
    align-items: center;

    margin: 40px 0 5px 116px;
}

.dropdown {
    padding: 5px 20px;
    margin-left: 10px;
}

.quantity-div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 5px 116px;
}

.quantity-textbox {
    padding: 5px 70px 5px 3px;
    margin-left: 10px;
}

.cash-div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 5px 116px;
}

.cash-textbox {
    padding: 5px 70px 5px 3px;
    margin-left: 34px;
}

.submit-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    background-color: rgb(255, 54, 54);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px gray;
    border-radius: 30px;
    padding: 10px 180px;
    margin: 150px 0 20px 0;
}

